# Для игнорирования файлов которые не должны попасть в Github
# Чтобы убрать файл который нужно ignore но они уже созданы>
# git rm --cached <file> 

# Игнорировать все файлы в папке фото для README
imgReadme/*