# Для игнорирования файлов которые не должны попасть в Github
# Чтобы убрать файл который нужно ignore но они уже созданы >
# git rm -r --cached <file> 

# База данных у каждого пользователя своя, её залив на репозиторий ненужен(она создаётся при пополнении бд)
sqlite.db

# игнорирование всех .txt файлов
*.txt
